<header class="site-header">
    <div class="wrapper">
        <div class="site-title">
            <a class="icon-spacing" href="https://www.linkedin.com/in/zoe-ludena/" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/linkedin.png" width="30px" height="30px" />
            </a>
            <a class="icon-spacing" href="https://github.com/zoeludena" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/github.png" width="30px" height="30px" />
            </a>
            <a class="icon-spacing" href="mailto:zoeludena@gmail.com">
                <img src="{{ site.baseurl }}/assets/images/email.png" width="30px" height="30px" />
            </a>
        </div>
    </div>
</header>
