<header class="site-header">
    <div class="wrapper" style="display: flex; gap: 20px;">
        <div class="site-title">
            <a class="icon-spacing" href="https://www.linkedin.com/in/zoe-ludena/" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/linkedin.png" width="30px" height="30px" />
            </a>
            <a class="icon-spacing" href="https://github.com/zoeludena" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/github.png" width="30px" height="30px" />
            </a>
            <a class="icon-spacing" href="mailto:zoeludena@gmail.com">
                <img src="{{ site.baseurl }}/assets/images/email.png" width="40px" height="30px" />
            </a>
        </div>

        <nav class="site-nav" style="display: flex; gap: 20px; margin-left: auto;">
            <a href="{{ site.baseurl }}/" style="color: #555555;">Home</a>
            <a href="{{ site.baseurl }}/experience" style="color: #555555;">Experience</a>
            <a href="{{ site.baseurl }}/projects" style="color: #555555;">Projects</a>
            <a href="{{ site.baseurl }}/assets/files/resume.pdf" target="_blank" style="color: #555555;">Resume</a>
        </nav>              
    </div>
</header>
