<header class="site-header">
    <div class="wrapper">
        <div class="site-title">
            <a class="icon-spacing" href="https://www.linkedin.com/in/zoe-ludena/" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/linkedin.png" width="40px" height="40px" />
            </a>
            <a class="icon-spacing" href="https://github.com/zoeludena" target="_blank">
                <img src="{{ site.baseurl }}/assets/images/github.png" width="40px" height="40px" />
            </a>
            <a class="icon-spacing" href="mailto:zoeludena@gmail.com">
                <img src="{{ site.baseurl }}/assets/images/email.png" width="40px" height="30px" />
            </a>
        </div>

        <nav class="site-nav">
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/experience">Experience</a>
            <a href="{{ site.baseurl }}/projects">Projects</a>
            <a href="{{ site.baseurl }}/files/resume.pdf" target="_blank">Resume</a>
        </nav>
    </div>
</header>
