<!-- <ul class="social-media-list">
{%- for entry in site.minima.social_links -%}
  <li>
    <a rel="me" href="{{ entry.url }}" target="_blank" title="{{ entry.title }}">
      <span class="grey fa-brands fa-{{ entry.icon }} fa-lg"></span>
    </a>
  </li>
{%- endfor -%}
</ul>
 -->
 <ul class="social-media-list">
  <li>
    <a rel="me" href="https://www.linkedin.com/in/zoe-ludena/" target="_blank" title="LinkedIn">
      <span class="grey fa-brands fa-linkedin fa-lg"></span>
    </a>
  </li>
  <li>
    <a rel="me" href="https://github.com/zoeludena" target="_blank" title="GitHub">
      <span class="grey fa-brands fa-github fa-lg"></span>
    </a>
  </li>
  <li>
    <a rel="me" href="mailto:zoeludena@gmail.com" target="_blank" title="Email">
      <span class="grey fa-solid fa-envelope fa-lg"></span>
    </a>
  </li>
</ul>
